<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wdir</title>
    {{template "bulma"}} {{template "main-css"}}
  </head>
  <body>
    {{template "header"}}
    <main class="container list">
      <div class="card">
        {{range $i, $v := .}}
        <div class="list-item" type="{{ $v.Fileinfo.Type }}">
          <div class="columns is-mobile">
            <div class="column is-half-tablet is-four-fifths-mobile">
              <div class="icon-text">
                <span class="icon large" type="{{ $v.Fileinfo.Type }}">
                  <i class="fas fa-file"></i>
                </span>
                <a href="{{ $v.Path }}">{{ $v.Fileinfo.Name }}</a>
              </div>
            </div>
            <div class="column is-3 is-hidden-mobile">{{ $v.Fileinfo.Date }}</div>
            <div class="column is-1 is-hidden-mobile">{{ $v.Fileinfo.Size }}</div>
            <div class="column">
              {{if not ( eq $v.Fileinfo.Type "folder" ) }}
              <div
                class="download-div level is-mobile level-right"
                name="{{ $v.Fileinfo.Name }}"
                url="{{ $v.Path }}"
              >
                下载
              </div>
              {{ end }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
  {{template "main-js"}}
</html>
